# MongoDB
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/istore?retryWrites=true&w=majority

# NextAuth
NEXTAUTH_SECRET=your-super-secret-key-generate-with-openssl-rand-base64-32
NEXTAUTH_URL=http://localhost:3000